@import "../styles.scss";

.mail-icon {
    color: #ffff81;
}

.location-icon {
    color: #ff6c6c;
}

.phone-icon {
    color: #9dff9d;
}

.mobile-icon {
    color: #33b2ff;
}

.question-icon {
    color: #f6a8fb;
}

.contact-details {
    margin: 10px;

    .information-header {
        font-weight: bold;
        display: block;
    }

    .back-link {
        padding: 12px 40px;
        font-size: 20px;
        width: 100%;
        background-color: $panel-bg;
        border-radius: 24px;
        display: block;
        margin-bottom: 10px;
    
        &:hover {
            background-color: $panel-bg-hover;
        }
    }

    .contact {
        background-color: $panel-bg;
        border-radius: 94px;
        padding: 20px;
        line-height: 1.4em;
    
        img {
            border-radius: 50%;
            border: 10px solid;
            margin-right: 20px;
            width: 148px;
            height: 148px;
        }
        
        h2 {
            margin: 0;
        }
        
        .information {
            padding-right: 20px;
        }
    
        p {
            margin-bottom: 0;
            word-break: break-word;
        }
    }

    @media all and (max-width: 960px) {
        font-size: 14px;
    
        .contact {
            border-radius: 74px;
    
            h2 {
                margin-top: 1em;
            }

            img {
                border-width: 5px;
                width: 108px;
                height: 108px;
            }
        }
    }
}

.contact-list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    ul.contacts {
        padding-top: 96px;
    
        li {
            margin: 10px;
            cursor: pointer;
        }
    }
    
    ul.order-by {
        display: flex;
        align-items: center;
        justify-content: center;
    
        li {
            margin: 0px 5px;
            padding: 5px 10px;
            border-radius: 10px;
            text-transform: capitalize;
            background-color: $panel-bg;
            cursor: pointer;
            
            &:hover {
                background-color: $panel-bg-hover;
            }
    
            &.active {
                background-color: $highlight-bg;
                color: $highlight-color;
    
                &:hover {
                    background-color: $highlight-bg-hover;
                }
            }
        }
    }
    
    .search-field {
        background-color: $panel-bg;
        margin: 10px;
        border-radius: 24px;
    
        &:hover {
            background-color: $panel-bg-hover;
        }
    
        input {
            background-color: transparent;
            border: none;
            color: inherit;
            width: 100%;
            font-family: inherit;
            padding: 12px 40px;
            font-size: 20px;
        }
    }
    
    .top-section {
        position: fixed;
        z-index: 1;
        top: 0;
        max-width: 100%;
        width: 960px;
        background-color: $bg;
        padding-bottom: 10px;
    }
}

.contact-list-item {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $panel-bg;
    border-radius: 100px;

    &:hover {
        background-color: $panel-bg-hover;
        text-decoration: none;
    }

    .svg-inline--fa {
        width: 26px;
        padding-right: 10px;
        display: inline-block;
    }

    h2, p {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    p {
        word-break: break-word;
    }

    img {
        border-radius: 50%;
        border: 5px solid;
        display: flex;
        width: 110px;
        height: 110px;
    }

    .text {
        max-height: 80px;
        max-width: calc(100% - 130px);
        flex: 1;
    }

    .email {
        word-break: break-all;
    }
    
    @media all and (max-width: 960px) {
        align-items: flex-start;
        border-radius: 50px;

        h2 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        img {
            width: 50px;
            height: 50px;
            border-width: 3px;
        }
        .text {
            max-height: 123px;
            max-width: calc(100% - 60px);
            margin-left: 10px;
        }
    }
}